* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}
.content {
  display: flex;
  width: 50%;
  margin: auto;
  background-color: #e5f9db;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
ul li {
  list-style: none;
  display: inline-block;
}
ul {
  padding-bottom: 1rem;
}
ul li:first-child {
  font-family: "Lobster", sans-serif;
  color: #ffd95a;
  font-size: 3rem;
  margin-right: 1rem;
}
ul li:last-child {
  font-family: "Lobster", sans-serif;
  color: #f97b22;
  font-size: 2rem;
  text-decoration: line-through;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
article {
  margin-left: 1rem;
  font-family: "Comme", sans-serif;
  padding-bottom: 10px;
}
article h3 {
  font-weight: 200;
  letter-spacing: 5px;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
article h2 {
  font-family: "Lobster", sans-serif;
  letter-spacing: 3px;
  padding-bottom: 1rem;
}
article p:first-of-type {
  font-weight: 200;
  padding-bottom: 1rem;
}
.button {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 80%;
  border-radius: 5px;
  background-color: #a0d8b3;
  box-shadow: 4px 3px 5px 0px rgba(76, 61, 61, 0.75);
  cursor: pointer;
}
.button:active {
  box-shadow: none;
}
.button p {
  padding: 1rem;
}
.button i {
  padding: 1rem;
}
@media screen and (max-width: 980px) {
  article h3,
  ul,
  h2 {
    padding-bottom: 5px;
    font-size: 1rem;
  }
  article p:first-of-type {
    padding-bottom: 5px;
  }
  article li:last-child {
    font-size: small;
  }
}
@media screen and (max-width: 480px) {
  .content {
    flex-direction: column;
  }
  article h3 {
    font-size: small;
  }
  article h2 {
    font-size: 12px;
  }
  article p {
    font-size: small;
  }
  ul li:first-of-type {
    font-size: xx-large;
  }
  .button {
    padding: 5px;
  }
  .button p {
    padding: 0;
  }
  .button i {
    padding: 0;
  }
  img {
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
  }
}
